CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
/cmake-build-debug
/.idea

# Файлы, создающиеся при компиляции модуля
*.ko.cmd
*.mod.o.cmd
*.o.cmd
*.tmp_versions/
*Module.symvers
*.mod.c
*.ko
*.mod.o
*.o
*modules.order
*.o.rc
*.cache.mk