CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
/cmake-build-debug
/.idea

# Файлы, создающиеся при компиляции модуля
.main.ko.cmd
.main.mod.o.cmd
.main.o.cmd
.tmp_versions/
Module.symvers
main.mod.c
main.ko
main.mod.o
main.o
modules.order
main.o.rc
